

.action-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    min-height: 100px;
    background-color: black;

    box-shadow: 5px 6px 11px -2px rgba(0,0,0,0.95);

    .action-panel-header {
        padding: 5px;
        color: white;
        font-weight: bold;
        background-color: grey;
    }

    .action-panel-body {
        padding: 10px 5px 10px 5px;
        color: white;
    }

    .circle-controller {
        width: 100%;
        height: 100%;
    }

    .info-row {
        display: flex;
    }

    .button-action {
        padding: 5px;
        border: 1px solid red;
        width: 100%;
        cursor: pointer;

        &.button-action-active {
            background-color: red;
        }
    }

    .button-step {
        cursor: pointer;
    }
}